# Default ignored files
/.idea
# Editor-based HTTP Client requests
# Datasource local storage ignored files
/happy_pet/__pycache__
venv
/happy_pet/.env
/db.sqlite3
/src/__pycache__
/src/migrations
/__pycache__
