{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/about_service.css" %}>
    <meta charset="UTF-8">
    <title>Happy pet</title>
</head>
<body>
    <img class="logo" alt="Logo" src={% static "images/Logo.svg" %}>
    <span class="title">HAPPY PET</span>
    <div class="stripe1"></div>
    <span class="why">Почему выбирают наш сервис?</span>
    <div class="stripe1" style="top: 216px;"></div>
    <span class="because">1.Их много</span>
    <span class="description">Огромный выбор животных, птиц и питомцев</span>
    <div class="stripe1" style="top: 347px;"></div>
    <span class="because" style="top: 361px; width: 315px;">2.Они здоровы</span>
    <span class="description" style="top: 413px;">Мы заботимся о каждом питомце, который с нами</span>
    <div class="stripe1" style="top: 488px;"></div>
    <span class="because" style="top: 496px;">3.Их любят</span>
    <span class="description" style="top: 548px">Мы окружаем любовью и вниманием наших друзей</span>
    <div class="stripe1" style="top: 626px;"></div>
    <a href="tel:+79885870593"><img alt="button" class="button" src={% static "images/Кнопка_2.png" %}></a>
    <img alt="dog" class="dog" src={% static "images/dog_last_screen.png" %}>
</body>
</html>