{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/catalog.css" %}>
    <meta charset="UTF-8">
    <title>Happy pet</title>
</head>
<body>
<a href="../main-page"><img alt="Крестик" class="close" src={% static "images/крестик.png" %}></a>
<img alt="Logo" class="logo" src={% static "images/Logo.svg" %}>
<span class="title">HAPPY PET</span>
<a href="../main-page"><span class="main">Главная</span></a>
<div class="stripe1"></div>
<a href="../main-page/animals-catalog"><span class="friends">Друзья</span></a>
<div class="stripe2"></div>
<a href="about-service"><span class="About">О сервисе</span></a>
<div class="stripe3"></div>
<a href="tel:+79885870593"><span class="number">+7 988 587 05 93</span></a>
</body>
</html>