{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/animal.css" %}>
    <meta charset="UTF-8">
    <title>Happy pet</title>
</head>
<body>
    <span class="name">Кошки</span>
    <div class="stripe1"></div>
    <div class="main">
        <img src={% static "img/american Wirehair.png" %} alt="Американская" id="american">
        <img src={% static "img/napoleon cat.png" %} alt="Наполеон" id="napoleon">
        <img src={% static "img/Britain shorthair.png" %} alt="Британская" id="britain">
        <img src={% static "img/mein cun.png" %} alt="Мейн-кун" id="mein_cun">
        <span class="span_cat">Мейн-кун</span>
        <div class="stripe2"></div>
        <span class="description">
            Большой ласковый и общительный друг
        </span>
        <span class="price">40000р</span>
        <a href="../animals-catalog/orders" class="orders"><img src={% static "img/корзина.png" %} alt="Корзина"></a>
        <img onclick="back();" class="left" alt="Стрелка налево" src={% static "img/Arrow%20left.png" %}>
        <img onclick="next();" class="right" alt="Стрелка направо" src={% static "img/Arrow%20right.png" %}>
        <a class="button" href="../animals-catalog"><img alt="Кнопка" src={% static "img/Кнопка.png" %}></a>
    </div>
    <script src={% static "scripts/cats.js" %}></script>
    <script>
        first = 0

        if (!first && cat_name.innerHTML === "Мейн-кун") {
            document.querySelector(".left").style.display = "none"
            first += 1
        }
    </script>
</body>
</html>