{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %}>
    <meta charset="UTF-8">
    <title>Happy pet</title>
    <link href={% static "styles/main_page.css" %} rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
<img alt="Логотип" class="Logo" src={% static "img/Logo.svg" %}>
<span class="title">HAPPY PET</span>
<span class="text-big">Твой новый друг с доставкой на дом </span>
<span class="text-small">Онлайн-магазин домашних животных-удобное решение, когда лень выходить из дома</span>
<img alt="Собака" class="dog" src={% static "img/dog_1screen.png" %}>
<a class="button" href="main-page/animals-catalog"><img alt="Кнопка" src={% static "img/Кнопка.png" %}></a>
<a href="main-page/catalog"><img alt="Бургер" class="burger" src={% static "img/бургер.png" %}></a>
</body>
</html>