{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %} type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static "favicons/favicon (1).ico" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/purchase.css" %}>
    <meta charset="UTF-8">
    <title>Happy pet</title>
</head>
<body>
    <h1 class="purchase_head">Purchase</h1>
    <div class="line"></div>
    <main>
        <form action="">

        </form>
    </main>
</body>
</html>